[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "CLgithub.github.io"]
	path = CLgithub.github.io
	url = git@github.com:CLgithub/CLgithub.github.io.git
